<form method="POST" class="form">
    <!-- ten include dla flashMessages jest aby wyświetlić komunikaty ze strony serwera.
         Niekoniecznie jest to potrzebne, bo pola formularza są określone jako required
         Co wymusza na przeglądarce, aby nie wysłała formularza dopóki, nie jest on poprawnie wypełniony
    -->
    {% include "components/flashMessages.html" %}
    <h3>{{ title }}</h3>
    <label>
     Number*: 
      {% if number %}     
        <input type="number" required min="0" value="{{number}}" name="number"/>
      {% endif %}
    </label>
    <label>
      Iteration* <small>(max: 30)</small>: 
      {% if iterations %} 
        <input type="number" required min="0" max="30" value="{{iterations}}" name="iterations"/>
      {% endif %}  
    </label>
    <button type="submit" name="submit">Calculate</button>
</form>